.text-input-with-proper-background .pf-v5-c-form-control {
    --pf-v5-c-form-control--BackgroundColor: transparent;
    font-size: 0.9em;
}

.pf-v5-theme-dark body {
    background-color: #222;
}

.log-view {
    overflow: auto;
    max-height: 500px;
    min-height: 100px;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.log-view pre {
    font-size: small;
}

.envs-view {
    overflow: auto;
    max-height: 250px;
    padding: 10px;
}

.envs-view pre {
    font-size: 0.8em;
}

