.text-input-with-proper-background .pf-v5-c-form-control {
    --pf-v5-c-form-control--BackgroundColor: transparent;
}

.log-view {
    overflow: scroll;
    max-height: 500px;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.log-view pre {
    font-size: 0.8em;
}

.envs-view {
    overflow: scroll;
    max-height: 250px;
    padding: 10px;
}

.envs-view pre {
    font-size: 0.8em;
}

